<form (ngSubmit)="actualizar()" #f="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" name="nombre" placeholder="Ingrese el nombre del servidor" [(ngModel)]="nombre" required>
    </div>
    <div class="form-group">
      <textarea name="descripcion" cols="30" rows="10" class="form-control" placeholder="Ingrese la descripción" [(ngModel)]="descripcion" required></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-success" [disabled]="!f.valid">Modificar</button>
    </div>
  </form>