<mat-sidenav-container fullscreen>
  <mat-sidenav #menu>
    <app-cabecera></app-cabecera>
    <button mat-raised-button color="primary" (click)="menu.close()">Cerrar</button>
  </mat-sidenav>
  <mat-toolbar color="primary" *ngIf="autenticado">
    <button mat-icon-button (click)="menu.open()">
      <mat-icon>menu</mat-icon>
      {{titulo}}
    </button>
    <span class="espaciadora"></span>
    <button mat-icon-button [matMenuTriggerFor]="menuVer">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuVer="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>lock_open</mat-icon>
        Logout
      </button>

    </mat-menu>
  </mat-toolbar>

  <div class="contenido">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
